<div class="center-content">
  <div *ngIf="!JWTIsPresent()">
    <app-register *ngIf="!loginMode"></app-register>
    <app-login *ngIf="loginMode" (loginEmitter)="changeLoginState($event)"></app-login>
  </div>

  <div *ngIf="JWTIsPresent()">
    <app-manage-account></app-manage-account>
  </div>
</div>

<div class="center-button">
  <div *ngIf="!JWTIsPresent()">
    <button class="btn btn-default btn-sm" (click)="changeLoginMode()">{{loginMode ? 'Register' : 'Login'}}</button>
  </div>
</div>


