button{
  margin-top: 15px;
  background-color: #fafafa;
  text-decoration: underline;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  text-decoration: underline;
}

.center-content{
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.center-button{
  display: flex;
  justify-content: center;
}

