<div class="topNavbarBar">

</div>
<div class="siteTitleBar">
    <div routerLink="/" class="nav-style">
      <a class="navTitle1">ED's </a>
      <a class="navTitle2">KOOK</a>
      <a class="navTitle3">SHOP</a>
    </div>
</div>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="navItem"><a routerLink="/" routerLinkActive="active">News</a></li>
    <li class="navDivider"><a>|</a></li>
    <li class="navItem"><a routerLink="/account" routerLinkActive="active">Account</a></li>
    <li class="navDivider"><a>|</a></li>
    <li class="navItem"><a routerLink="/shop">Shop</a></li>
    <li class="navDivider"><a>|</a></li>
    <li class="navItem"><a routerLink="/shoppingcart">Shopping Cart</a></li>
  </ul>
</nav>
