
// Top Navbar

.topNavbarBar{
  background-color: #fff;
  height: 4vh;
}

// Bottom Navbar

.navbar{
  background-color: #fff;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-size: 1.25em;
  border-radius: 0;
}

// Title bar

.siteTitleBar{
  background-color: #daad86;
  height: 19vh;
  display: flex;
  justify-content: center;
}

.nav-style{
  font-size: 5.4em;
  font-family: "Arial Black", serif;
  margin-top: 4vh;
}

.navTitle1{
  color: #42403d;
}

.navTitle2{
  color: #da3d2d;
}

.navTitle3{
  color: #42403d;
}

// Misc

:hover{
  text-decoration: none;
}

@media (max-width: 767px) {
  .nav-style{
    font-size: 3.5em;
  }

  li{
   float: left;
  }

  ul{
    max-width: 100vw;
  }
}

@media (max-width: 486px) {
  .navDivider {
   display: none;
  }

  .nav-style{
    font-size: 2.5em;
  }
}

@media (max-width: 384px) {
  .navbar{
    font-size: 1em;
  }

  .nav-style{
    font-size: 2em;
  }
}
