.navbar{
  background-color: #fff;
  margin-bottom: 0;
}

.navDivider{

}

.navbar-header{

}

.navbar-brand{
  font-size: 5em;
  font-family: "Arial Black", serif;
  margin-top: 6vh;
}

:hover{
  text-decoration: none;
}

.navTitle1{
  color: #42403d;
}

.navTitle2{
  color: #da3d2d;
}

.navTitle3{
  color: #42403d;
}

.siteTitleBar{
  background-color: #daad86;
  height: 19vh;
}

.topNavbarBar{
  background-color: #fff;
  height: 4vh;
}

.row{
  overflow-y: auto;
}
