<div class="form-content">
  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Email *" formControlName="emailInputLogin"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password *" formControlName="passwordInputLogin"/>
      </div>
      <button type="submit" class="btnSubmit btn btn-success" [disabled]="!loginForm.valid">login</button>
      <strong *ngIf="badlogin">
        Incorrect credentials.
      </strong>
    </form>
  </div>
</div>
