img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid gray;
  border-radius: 2px;
}

.imageHolder{
  max-width: 20vw;
  max-height: 20vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.row{
  width: 22vw;
  height: 30vh;
  padding-bottom: 7px;
}

.productDescription{
  margin-top: 6px;
  min-height: 40px;
  max-width: 20vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.price{
  margin-right: 1.5vw;
  font-size: 1.2em;
}

.counter{
  border-radius: 0;
}

.counter.btn:focus {
  outline: none;
  box-shadow: none;
}

.counterButtonLeft{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.counterButtonRight{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.buttonHolder{
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 5vw;
}

.productName{
  font-size: 1.2em;
  margin-bottom: 1vh;
}

@media (max-width: 1287px) {
  .row{
    max-height: 28vh;
  }
}

@media (max-width: 1050px) {
  .buttonHolder{
    display: flex;
    align-content: center;
    padding-right: 2vw;
  }

  .row{
    max-height: 25vh;
  }
}

@media (max-width: 724px) {
  .row{
    width: 30vw;
  }

  .imageHolder{
    max-width: 28vw;
  }

  .productDescription{
    max-width: 28vw;
  }

  .buttonHolder{
    padding-right: 5vw;
  }
}

@media (max-width: 651px) {
  .row{
    width: 45vw;
  }

  .imageHolder{
    max-width: 43vw;
  }

  .productDescription{
    max-width: 43vw;
  }

  .buttonHolder{
    padding-right: 8vw;
  }
}
