<div class="row">
  <div class="productName">
    <strong>
      {{product.name}}
    </strong>
  </div>
  <div class="imageHolder">
    <img src="{{imagePath}}">
  </div>
  <div class="productDescription">
    {{product.description}}
  </div>
  <div class="">
    <div class="buttonHolder">
      <span class="price">
        {{"€ " + product.price}}
      </span>
      <button class="btn btn-success btn-sm" (click)="addToCart()" *ngIf="!isInCart()">Add to Cart</button>
      <button class="btn btn-success btn-sm counterButtonLeft" (click)="removeFromCart()" *ngIf="isInCart()">-</button>
      <button class="btn btn-success btn-sm disabled counter" *ngIf="isInCart()">{{numberInCart}}</button>
      <button class="btn btn-success btn-sm counterButtonRight" (click)="addToCart()" *ngIf="isInCart()">+</button>
    </div>
  </div>
</div>
