.newsItemHolder{
  max-width: 50vw;
}

li{
  background-color: #fafafa;
}

.newsPage{
  display: flex;
  justify-content: center;
}

// About Me

.title{
  font-size: 2em;
  font-family: "Arial Black", serif;
  text-decoration: underline;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.aboutMe{
  background-color: #fafafa;
  border: 1px solid #ddd;
  width: 22vw;
  display: block;
  overflow: auto;
  margin-left: 1.5vw;
  margin-top: 1vh;
  border-radius: 5px;
}

.imageContainer{
  margin-left: 2vw;
  margin-bottom: 1.5vh;
  max-width: 18vw;
  float: left;
}

img{
  border: 1.5px solid lightgray;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.aboutMeText{
  max-width: 18vw;
  margin-left: 2vw;
  font-size: 1.1em;
  margin-bottom: 2vh;
}

@media (max-width: 767px) {
  .newsItemHolder{
    max-width: 60vw;
    margin-top: 2vh;
  }

  .aboutMe{
    margin-top: 3vh;
    width: 29vw;
  }

  .imageContainer{
    max-width: 25vw;
  }

  .aboutMeText{
    max-width: 25vw;
  }
}

@media (max-width: 543px) {
  .title{
    font-size: 1.5em;
  }
}

@media (max-width: 486px) {
  .newsItemHolder{
    max-width: 65vw;
  }

  .aboutMe{
    margin-right: 1vw;
  }
}
