<div class="manageAccount">
  <div class="accountDetails">
    <strong>
      Ingelogd Account:
    </strong>
    <div class="email">
      {{"eaadcom@gmail.com"}}
    </div>
  </div>
  <div class="ownedItems">
    <strong>
      Owned Items:
    </strong>
    <div class="ownedItem" *ngFor="let item of ownedItems">
      <div>
        {{item.productName}}
        {{item.amount}}
      </div>
    </div>
  </div>
  <div class="logout">
    <button type="submit" class="btnSubmit btn btn-danger">logout</button>
  </div>
</div>
