<div class="manageAccount">
<!--  <div class="accountDetails">-->
<!--    <strong>-->
<!--      Ingelogd Account:-->
<!--    </strong>-->
<!--    <div class="email">-->
<!--      {{"eaadcom@gmail.com"}}-->
<!--    </div>-->
<!--  </div>-->
  <div class="ownedItemsTitle">
    <strong>
      Owned Items:
    </strong>
  </div>
  <div class="ownedItems" *ngIf="!userHasOwnedItems">Je hebt nog geen gerechten gekocht, kijk eens rond in de shop!</div>
  <div class="ownedItems" *ngFor="let item of ownedItems">
    <div>
      {{item.amount + 'x'}}
      {{item.productName}}
    </div>
  </div>
  <div class="logout">
    <button type="submit" class="btnSubmit btn btn-danger">logout</button>
  </div>
</div>
