.manageAccount{
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 15px;
  max-width: 90vw;

  font-size: 1.2em;
}

.accountDetails{
  display: flex;
  justify-content: center;
}

.email{
  margin-left: 1em;
}

.ownedItems{
  margin-top: 0.5vh;
  display: flex;
  justify-content: center;
}

.ownedItemsTitle{
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: center;
}

.logout{
  margin-top: 4vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
}
