.counter{
  border-radius: 0;
}

.counter.btn:focus {
  outline: none;
  box-shadow: none;
}

.counterButtonLeft{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.counterButtonRight{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
