<div class="shoppingCart">

  <div class="notificationText" *ngIf="shoppingCartEmpty()">
    <strong>
      There are no Items in your shopping cart. Go to the Shop page and look around!
    </strong>
  </div>

  <div class='notificationText' *ngIf="checkingOut  && !loggedIn()">
    <strong>
      Log in to check out. If you don't have an account yet, register!
    </strong>
  </div>

  <div class="checkout" *ngIf="!checkingOut && !shoppingCartEmpty()">
    <div class='checkoutItems' *ngFor="let item of shoppingCart">
      <div class="item" *ngIf="item[1] > 0">
        {{item[0]}}
        <button class="btn btn-success btn-sm counterButtonLeft" (click)="removeFromCart(item[0])">-</button>
        <button class="btn btn-success btn-sm disabled counter">{{item[1]}}</button>
        <button class="btn btn-success btn-sm counterButtonRight" (click)="addToCart(item[0])">+</button>
      </div>
    </div>
    <div class="checkoutButton">
      <button class="btn btn-success" *ngIf="!shoppingCartEmpty()" (click)="checkout()">Checkout</button>
    </div>
  </div>
  <div *ngIf="checkingOut && loggedIn()">
    <app-checkout></app-checkout>
  </div>
</div>
<div class="center-login" *ngIf="checkingOut && !loggedIn()">
  <app-login></app-login>
</div>
