.counter{
  border-radius: 0;
}

.counter.btn:focus {
  outline: none;
  box-shadow: none;
}

.counterButtonLeft{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.counterButtonRight{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.shoppingCart{
  margin-top: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.checkout{
  padding-top: 3vh;
  padding-bottom: 5vh;
  max-width: 90vw;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px 10px 15px 15px;
}

.checkoutItems{
  display: flex;
  justify-content: right;
  padding-right: 7vw;
  padding-left: 3vw;
}

.item{
  padding-top: 0.5vh;
}

.checkoutButton{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.center-login{
  margin-top: 1.5vh;
  display: flex;
  justify-content: center;
}

.notificationText{
  font-size: 1.3em;
  margin-right: 2vw;
  margin-left: 2vw;
}
